<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626469166913-hg8ficbd129gfi3biipf70cb88462356.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626469166913-hg8ficbd129gfi3biipf70cb88462356</string>
	<key>API_KEY</key>
	<string>AIzaSyAKDR0zBVwN5_Xk3P0MneWi2PzvToSa9RA</string>
	<key>GCM_SENDER_ID</key>
	<string>626469166913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryac.franklinbbq</string>
	<key>PROJECT_ID</key>
	<string>ryac-44926</string>
	<key>STORAGE_BUCKET</key>
	<string>ryac-44926.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626469166913:ios:f4fe4ec6c771e71b</string>
	<key>DATABASE_URL</key>
	<string>https://ryac-44926.firebaseio.com</string>
</dict>
</plist>